/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #0b0b0b;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  header p {
    font-size: 18px;
    margin: 10px 0 0;
  }
  
  /* Estilos de las secciones */
  section {
    padding: 40px;
    text-align: center;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  /* Estilos de las propiedades destacadas */
  .featured-properties {
    background-color: 0e3b89;
  }
  
  .property {
    margin-bottom: 40px;
  }
  
  .property img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .property h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .property p {
    font-size: 16px;
    margin: 0;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
